torch>=2.0
torchaudio>=2.0
timm>=0.9
pytorch-lightning>=2.0
nnAudio>=0.3
openvino>=2024.0
scikit-learn>=1.3
pandas>=2.0
numpy>=1.24
h5py>=3.9
librosa>=0.10
soundfile>=0.12
silero-vad>=4.0
pyyaml>=6.0
hive-evolve
